body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-color: bisque;
  }
  
  #screenText{
    font-weight: bold;
    margin-top: 50px;
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default. To be toggled*/  
    position: fixed; /* Fixed in place */
    z-index: 1; /* Set to sit on top */
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black with opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  .modal-header{
    padding: 15px;
    height: 70px;
    background-color:bisque;  
  }
  .modal-dialog{
    top: 5%;
    text-align: center; 
    padding: 15px;
    font-weight: bold;
  }
  .buttons{
    margin:auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    width: 40%;
  }
  .btn{
    padding: 10px;
  }